@import 'src/variables.scss';
@import './section-styles/_hero.scss';
@import './section-styles/_event-promo.scss';
@import './section-styles/_about.scss';
@import './section-styles/_events.scss';
@import './section-styles/_services.scss';
@import './section-styles/_join.scss';
@import './section-styles/_social.scss';

i {
  font-size: $row-height;
  vertical-align: middle;
  margin-right: 20px;
}

.csc-icon-title {
  text-transform: uppercase;
}

.column-left,
.column-right {
  position: relative;
  float: left;
  width: 100%;
  min-height: $row-height;
}

@media #{$tablet} {
  .column-left {
    width: 40%;
  }
  .column-right {
    width: 60%;
  }
}

@media #{$desktop} {
  .column-left {
    width: 40%;
  }
  .column-right {
    width: 60%;
  }
}

.csc-event-content a {
  color: $text-white;
}

.full-height-container {
  height: 100vh;
  /* If you need to support browser without CSS var support (<= IE11) */
  height: calc(100vh - var(--vh-offset, 0px));
  /* enable vh fix */
  display: flex;
  flex-direction: column;
  margin-top: -86px;
}
